
<% if @user.errors.any? %>
  <div>
    <h2><%= pluralize(@user.errors.count, "error") %>:</h2>

    <ul>
      <% @user.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @user do |form| %>
<%= form.label :username, "Username:" %>
  <%= form.text_field :username, placeholder: "foo" %>
<br><br>
<%= form.label :email, "Email:" %>
  <%= form.email_field :email, placeholder: "foo@bar.com" %>
<br><br>
<%= form.label :password, "Password:" %>
  <%= form.password_field :password %>
<br><br>
<%= form.submit "Submit" %>
<% end %>